@page
@model FogelFormedlingenAB.Pages.AdPageModel

@{
    ViewData["Title"] = "Adpage";
}
<h1 class="display-4">Ad Details</h1>

@if (Model.Ad != null)
{
    <div id="ad-details" class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image-container">
                    <img src="~/images/@Model.Ad.ImageUrl" alt="@Model.Ad.Title" class="ad-image img-fluid" />
                </div>
            </div>
            <div class="col-md-6">
                <h2>@Model.Ad.Title</h2>
                <ul class="list-group">
                    @if (!string.IsNullOrEmpty(Model.CategoryName))
                    {
                        <li class="list-group-item">Kategori: @Model.CategoryName</li>
                    }
                    <li class="list-group-item">Beskrivning: @Model.Ad.Description</li>
                    <li class="list-group-item">Pris: <strong>@Model.Ad.Price.ToString("C0")</strong></li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <p>Ad not found.</p>
}
